.Log-In{
    width: 220px;
    height: 100px;
    border-radius: 10px;
    background-color: #56738f;
    color: black;
    text-align: center;
    padding: 40px 40px 40px 40px ;
    margin:auto;
    
    }
    
    
    
    .UserEntry{
    width: 220px;
    height: 100px;
    border-radius: 10px;
    background-color:#627384;
    color: black;
    text-align: center;
    padding: 40px 40px 40px 40px ;
    margin:8px auto;
    
    }
    
    h5{
      text-align: center;
    }
    
    a{
      color: white;
    }
    